apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aio-config-pvc
  namespace: nextcloud
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-data-pvc
  namespace: nextcloud
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 10Gi
